<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>환영합니다!</title>
</head>
<body>
<style>
    @import url(https://fonts.googleapis.com/css?family=Roboto);
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
</style>
<div style="font-size: 16px; font-family: 'Roboto', sans-serif; color: #54575A; border-collapse: collapse;">
    <table style="border: 0; width: 600px; cellspacing: 0; cellpadding: 0;">
        <tbody>
        <tr>
            <td style="background-color: white; border: 1px solid #8E8F92; border-radius: 6px;" colspan="2" bgcolor="#ffffff" width="600">
                <img style="width: 600px; border-radius: 6px 6px 0 0 ;" src="https://drive.usercontent.google.com/download?id=1AyiqgS865oNc4X_zcEpC45g4ziXn62J6" alt="로고 여기">
                <table>
                    <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <table>
                                <tbody>
                                <tr>
                                    <td style="padding: 14px; padding-top: 0px;" width="580">
                                        <div style="font-size: 16px; font-family: 'Roboto', sans-serif; color: #54575A; border-collapse: collapse;">
                                            <p>안녕하세요!</p>

                                            <p><b>루미나리</b> 팀의 가족이 되신 것을 진심으로 축하드립니다!</p>
                                            <p>아래의 이메일 / 비밀번호를 이용해서 <a style="color: #5d5bd4; text-decoration: none;" href="{{ login_url }}" target="_blank">루미나리 HRM</a>에 로그인해주세요.</p>

                                            <p>
                                                이메일 주소: <b>{{ email }}</b>
                                                <br>
                                                비밀번호: <b>{{ password }}</b>
                                            </p>
                                            <p>

                                                문의사항이 있으면 HR팀으로 바로 연락 부탁드립니다.
                                            </p>
                                            <p>
                                                감사합니다.<br>
                                                루미나리 HR팀
                                            </p>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding: 14px;">
                                        <div>
                                            <hr>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td width="30">&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div style="font-size: 16px; font-family: 'Roboto', sans-serif; color: #54575A;">
    <p>&copy; Luminari <a style="color: #5d5bd4; text-decoration: none;">개인정보보호정책</a></p>
</div>
</body>
</html>
